



@media screen and (min-width:788px) {
    .userInfo-header{
        position: relative;
        background-color: #2a9df4;
        height: 70px;
        margin-top: 40px;
    }
    .userInfo-title{
        background-color: white;
        font-size: 20px;
        font-weight: 600;
        width: 150px;
        height: 50px;
        padding-left: 15px;
        border-radius: 10px;
        position: absolute;
        top: 30px;
        left: 40px;
        padding-top: 10px;
       
    }
    .userInfo-icon i{
        color: #2a9df4;
    
    }
    
    
    .userInfo-table thead th {
        width: 200px;
        border: 2px solid rgb(247, 243, 243);
        padding: 30px;
        color: rgb(49, 41, 41);
    
       
       
    
    }
    .userInfo-box{
        background-color: rgb(231, 216, 231);
        margin-bottom: 60px;
    }
    .userInfo-table thead{
        background-color: rgb(241, 227, 241);
        height: 90px;
        
    }
    
    
    .userInfo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    
    .cancel{
        color: red;
    }
}








/* Phone responsive  */





@media screen and (max-width:788px) {
    .userInfo-header{
        position: relative;
        background-color: #2a9df4;
        height: 70px;
        margin-top: 40px;
    }
    .userInfo-title{
        background-color: white;
        font-size: 20px;
        font-weight: 600;
        width: 150px;
        height: 50px;
        padding-left: 15px;
        border-radius: 10px;
        position: absolute;
        top: 30px;
        left: 40px;
        padding-top: 10px;
       
    }
    .userInfo-table{
        width: 100vw;
    }









    .userInfo-icon i{
        color: rgb(82, 196, 26);
    
    }
    
    
    .userInfo-table thead th {
        width: 50px;
        border: 2px solid rgb(247, 243, 243);
        /* padding: 30px; */
        color: rgb(49, 41, 41);
    
       
       
    
    }
    .userInfo-box{
        background-color: rgb(231, 216, 231);
        /* height: 100vh; */
        margin-bottom: 60px;
    }
    .userInfo-table thead{
        background-color: rgb(241, 227, 241);
        height: 90px;
        
    }
    
    
    .userInfo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-size: 7px;
        
    }


    .MuiButtonBase-root{

        width: 13px !important;
        font-size: 10px !important;
    }

    .MuiSvgIcon-root{

        font-size: 10px !important;


    }
   
    
}